.return__form-main {
  .container {
    .return__form-main-box {
      .thankYou {
        margin: 50px;
        height: inherit;
        display: flex;
        align-self: center;
        justify-content: center;
        width: 500px;
        .main {
          h1 {
            font-size: 40px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .return__form-main {
    .container {
      .return__form-main-box {
        .thankYou {
          width: 350px;
        }
      }
    }
  }
}