.footer {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100%;
  .container {
    //margin-right: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright {
      font-size: 18px;
      font-weight: 500;
      color: #3C3C3C;
    }
    .social {
      display: flex;
      a {
        margin-right: 20px;
      }
    }
  }
}
@media (max-width: 700px) {
  .footer {
    .container {
      width: 100%;
      .copyright {
        margin-left: 10px;
      }
    }
  }

}