@import "src/scss/settings/colors";

.return__form-main {
  height: 100vh;
  background-image: url("Background-Form.jpg");
  background-color: #EDEEEC;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  .container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: inherit;
    .return__form-main-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 90%;
      h1 {
        font-size: 24px;
        font-weight: 300;
        color: $color-grey;
      }
    }
  }
}
@media (max-width: 1330px) {
  .return__form-main {
    background-size: contain;
  }
}
@media (max-width: 880px) {
  .return__form-main {
    .container {
      .return__form-main-box {
        width: 100%;
      }
    }
  }
}
@media (max-width: 675px) {
  .return__form-main {
    background: rgb(237,238,236);
    background: linear-gradient(180deg, rgba(237,238,236,1) 0%, rgba(239,237,236,1) 100%);
  }
}
